In [18]:
from scipy.io import arff
import pandas as pd

data = arff.loadarff('../knn/dataset_191_wine.arff')
wine = pd.DataFrame(data[0])

In [19]:
wine

,class,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280%2FOD315_of_diluted_wines,Proline
0,b'1',14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,b'1',13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,b'1',13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,b'1',14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,b'1',13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,b'3',13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,b'3',13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,b'3',13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,b'3',13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,b'3',14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

In [20]:
wine.describe()

,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280%2FOD315_of_diluted_wines,Proline
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [21]:
wine['class'].value_counts()

b'2'    71
b'1'    59
b'3'    48
Name: class, dtype: int64

One Hot Encoding 
Class categorial variables to numerical 
Two choices: using pandas, or using sklearn

In [23]:
#using pandas 
wine1 = pd.get_dummies(wine, columns=['class'])
wine1 = wine1.sample(n=20)
wine1

,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280%2FOD315_of_diluted_wines,Proline,class_b'1',class_b'2',class_b'3'
81,12.72,1.81,2.20,18.8,86.0,2.20,2.53,0.26,1.77,3.90,1.16,3.14,714.0,0,1,0
116,11.82,1.47,1.99,20.8,86.0,1.98,1.60,0.30,1.53,1.95,0.95,3.33,495.0,0,1,0
133,12.70,3.55,2.36,21.5,106.0,1.70,1.20,0.17,0.84,5.00,0.78,1.29,600.0,0,0,1
40,13.56,1.71,2.31,16.2,117.0,3.15,3.29,0.34,2.34,6.13,0.95,3.38,795.0,1,0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,1,0,0
142,13.52,3.17,2.72,23.5,97.0,1.55,0.52,0.50,0.55,4.35,0.89,2.06,520.0,0,0,1
6,14.39,1.87,2.45,14.6,96.0,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290.0,1,0,0
113,11.41,0.74,2.50,21.0,88.0,2.48,2.01,0.42,1.44,3.08,1.10,2.31,434.0,0,1,0
141,13.36,2.56,2.35,20.0,89.0,1.40,0.50,0.37,0.64,5.60,0.70,2.47,780.0,0,0,1
102,12.34,2.45,2.46,21.0,98.0,2.56,2.11,0.34,1.31,2.80,0.80,3.38,438.0,0,1,0
122,12.42,4.43,2.73,26.5,102.0,2.20,2.13,0.43,1.71,2.08,0.92,3.12,365.0,0,1,0
149,13.08,3.90,2.36,21.5,113.0,1.41,1.39,0.34,1.14,9.40,0.57,1.33,550.0,0,0,1
136,12.25,4.72,2.54,21.0,89.0,1.38,0.47,0.53,0.80,3.85,0.75,1.27,720.0,0,0,1
82,12.08,1.13,2.51,24.0,78.0,2.00,1.58,0.40,1.40,2.20,1.31,2.72,630.0,0,1,0
48,14.10,2.02,2.40,18.8,103.0,2.75,2.92,0.32,2.38,6.20,1.07,2.75,1060.0,1,0,0
75,11.66,1.88,1.92,16.0,97.0,1.61,1.57,0.34,1.15,3.80,1.23,2.14,428.0,0,1,0
94,11.62,1.99,2.28,18.0,98.0,3.02,2.26,0.17,1.35,3.25,1.16,2.96,345.0,0,1,0
30,13.73,1.50,2.70,22.5,101.0,3.00,3.25,0.29,2.38,5.70,1.19,2.71,1285.0,1,0,0
96,11.81,2.12,2.74,21.5,134.0,1.60,0.99,0.14,1.56,2.50,0.95,2.26,625.0,0,1,0
79,12.70,3.87,2.40,23.0,101.0,2.83,2.55,0.43,1.95,2.57,1.19,3.13,463.0,0,1,0

In [24]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(wine.iloc[:,0:4],wine.iloc[:,-1],test_size=0.2,random_state=20)

In [25]:
from sklearn.preprocessing import OneHotEncoder

In [26]:
ohe = OneHotEncoder(drop="first")

In [27]:
X_train_new = ohe.fit_transform(X_train[['class']]).toarray()

In [28]:
X_test_new = ohe.transform(X_test[['class']]).toarray()

In [29]:
X_train_new

array([[0., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 0.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 0.],
       [0., 1.],
       [1., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [1., 0.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 0.],
       [0., 1.],
       [1., 0.],
       [0., 0.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [0., 0.],
       [0., 1.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [1., 0.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [0., 0.],
       [0., 0.],
       [1., 0.],
       [0., 1.],
       [0., 0.],
       [0., 0.],
       [1., 0.],
       [0., 0.],
       [1., 0.],
       [0., 1.],
       [0., 0.],
       [0., 0.],
       [1., 0.],
       [0., 0.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 0.],
       [0., 1.],
       [0., 0.],
       [0., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 0.],
       [0., 0.],
       [1., 0.],
       [0., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 0.],
       [0., 1.],
       [0., 0.],
       [0., 0.],
       [0., 1.],
       [0., 1.],
       [0., 0.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 0.],
       [0., 1.],
       [0., 1.],
       [0., 0.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 0.],
       [1., 0.]])

In [30]:
import numpy as np 
X_train_new_1 = np.hstack((X_train[['class']].values,X_train_new))

In [31]:
# convert in pandas dataframe
wine2 = pd.DataFrame(X_train_new_1)
wine2

        0    1    2
0    b'1'  0.0  0.0
1    b'2'  1.0  0.0
2    b'3'  0.0  1.0
3    b'2'  1.0  0.0
4    b'1'  0.0  0.0
..    ...  ...  ...
137  b'3'  0.0  1.0
138  b'3'  0.0  1.0
139  b'3'  0.0  1.0
140  b'1'  0.0  0.0
141  b'2'  1.0  0.0

[142 rows x 3 columns]

2) Normalization of data

In [34]:
wine3 = arff.loadarff('../knn/dataset_191_wine.arff')
wine4 = pd.DataFrame(wine3[0])

In [35]:
def mapping(data,feature):
    featureMap=dict()
    count=0
    for i in sorted(data[feature].unique(),reverse=True):
        featureMap[i]=count
        count=count+1
    data[feature]=data[feature].map(featureMap)
    return data

In [36]:
wine5= mapping(wine4, "class")

In [37]:
wine5.sample(10)

,class,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280%2FOD315_of_diluted_wines,Proline
62,1,13.67,1.25,1.92,18.0,94.0,2.10,1.79,0.32,0.73,3.80,1.23,2.46,630.0
147,0,12.87,4.61,2.48,21.5,86.0,1.70,0.65,0.47,0.86,7.65,0.54,1.86,625.0
74,1,11.96,1.09,2.30,21.0,101.0,3.38,2.14,0.13,1.65,3.21,0.99,3.13,886.0
105,1,12.42,2.55,2.27,22.0,90.0,1.68,1.84,0.66,1.42,2.70,0.86,3.30,315.0
136,0,12.25,4.72,2.54,21.0,89.0,1.38,0.47,0.53,0.80,3.85,0.75,1.27,720.0
81,1,12.72,1.81,2.20,18.8,86.0,2.20,2.53,0.26,1.77,3.90,1.16,3.14,714.0
26,2,13.39,1.77,2.62,16.1,93.0,2.85,2.94,0.34,1.45,4.80,0.92,3.22,1195.0
160,0,12.36,3.83,2.38,21.0,88.0,2.30,0.92,0.50,1.04,7.65,0.56,1.58,520.0
31,2,13.58,1.66,2.36,19.1,106.0,2.86,3.19,0.22,1.95,6.90,1.09,2.88,1515.0
126,1,12.43,1.53,2.29,21.5,86.0,2.74,3.15,0.39,1.77,3.94,0.69,2.84,352.0

In [38]:
def normalize(dataset):
    dataNorm=((dataset-dataset.min())/(dataset.max()-dataset.min()))*1
    dataNorm["class"]=dataset["class"]
    return dataNorm

In [39]:
wine5=normalize(wine5)
wine5.sample(5)

,class,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280%2FOD315_of_diluted_wines,Proline
141,0,0.613158,0.359684,0.529412,0.484536,0.206522,0.144828,0.033755,0.452830,0.072555,0.368601,0.178862,0.439560,0.358060
7,2,0.797368,0.278656,0.668449,0.360825,0.554348,0.558621,0.457806,0.339623,0.264984,0.321672,0.471545,0.846154,0.725392
140,0,0.500000,0.409091,0.716578,0.536082,0.282609,0.193103,0.033755,0.754717,0.107256,0.283276,0.235772,0.380952,0.229672
9,2,0.744737,0.120553,0.486631,0.278351,0.304348,0.689655,0.592827,0.169811,0.454259,0.506826,0.430894,0.835165,0.547076
165,0,0.710526,0.715415,0.481283,0.613402,0.195652,0.103448,0.027426,0.735849,0.233438,0.455631,0.243902,0.175824,0.172611

Data is one hot encoded for class and data is normalized between 0-1 range

Nearest-neighbor regression
Nearest-neighbor regression is an adaptation of nearest-neighbor algorithms to regression. In nearest-neighbor algoriths each point in the dataset determines its class by looking at the classes of a certain number points nearest to it (and perhaps aggregating their votes somehow). The extension to the regression case couldn't be simpler: instead of just taking the majority class, average the values of the contributing points (perhaps with some kind of weighing, perhaps not).

In [41]:
def euclidean_dist(x,y):
        """
        Euclidean distance between points x and y
        """
        if type(x)==np.float64:
            return (((y-x)**2)**0.5)
        return sum((y[i]-x[i])**2 for i in range(len(x)))**0.5

In [14]:
import numpy as np 
def euclidean(a,b):
    difference = a-b 
    distance = np.sqrt(np.dot(difference.T, difference))
    return distance 

a = np.array((1,2,3))
b = np.array((4,5,6))
print(euclidean(a,b))

5.196152422706632

In [42]:
 def manhattan_dist(self,x,y):
        """
        Manhattan distance between points x and y
        """
        if type(x)==np.float64:
            return (abs(x-y))
        return sum(abs(x[i]-y[i]) for i in range(len(x)))

In [13]:
def manhattan(arr,n):
    arr.sort()
    distance = 0 
    sum = 0
    for i in range(n):
        distance += (arr[i]*i - sum)
        sum += arr[i]
    return distance 
def distancesum (x,y,n):
    return manhattan(x,n)+manhattan(y,n)

x = [1,2,3]
y = [4,5,6]
n = len(x)
print(distancesum(x,y,n))

8

In [4]:
def chebyshev_dist(self, x,y):
    """
    Chebyshev distance between two points x and y 
    """
    if type(x) == np.float64:
        return (abs(x-y).max())
    return sum(abs(x[i]-y[i]).max() for  i in range(len(x)))

In [11]:
def chebyshev(v1,v2):
    absolute = (abs(v1-v2).max())
    distance = np.max(np.absolute(v1-v2))
    return distance 

v1 = np.array([1,2,3])
v2 = np.array([4,7,5])
print(chebyshev(v1, v2))

#distance

5

In [ ]:
 def chebyshev_dist(self, x, y):
        points = []
        for i, (x, y) in enumerate(zip(x, y)):
            points.append((
                x + y + i, 
                x + y - i,
                x - y + i,
                x - y - i
            ))
        return max(max(dim) - min(dim) for dim in zip(*points))

In [ ]:
def kernel(self,x0,x1):
        """
        Arguments:
        ----------
        x0 -- test point
        x1 -- train point
        Returns:
        -------
        Kernel function for a specific pair and parameter
        """
        u = round(self.euclidean_dist(x0,x1),5)/self.lam
        self.u.append(u)
       # print(u,x0,x1)
        if u>1:
            return 0
        else:
            #Uniform 
            if self.current_param == "uniform":
                return 0.5

            #Triangular
            elif self.current_param == "triangular": 
                return 1-abs(u)
            
            #Epanenchikov
            elif self.current_param == "parabolic": 
                return 0.75 * (1-u**2)
            
            #Quartic 
            elif self.current_param == "quartic": 
                return 15*((1-u**2)**2)/16

In [ ]:
  def predict(self,param):
        self.u = []
        
        if param.lower() in self.params:
            self.current_param = param
        else:
            self.current_param = param[0].lower()
        
        prediction = []
        
        for point in self.X_test:
            K =[self.kernel(x,point) for x in self.X_train]#values of a kernel function
            prediction.append(sum(k*y for k,y in zip(K,self.Y_train))/sum(K))                      
        self.pred = prediction
        
        return self.pred

In [ ]:
    def calculate_error(self,param="squared"):
        if param=="squared":
            return mean_squared_error(self.Y_test,self.pred)
        else:
            return mean_absolute_error(self.Y_test,self.pred)
        
    def setParam(self,param):
        self.current_param=param
        
    def set_lam(self,l):
        self.lam=l
    
    def getDistances(self,point):
        return [round(self.euclidean_dist(x,point),5) for x in self.X_train]
        
    def getU(self):
        return self.u